body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.intro-container {
  text-align: center;
}

.game-container {
  display: none;
}

.marmot {
  width: 100px;
  height: 100px;
  background-color: #b87333;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}
